body {

    font-family: 'EB Garamond', sans serif;
    margin-top: 180px;
    margin-bottom: -200px;
}

header {

    position: fixed;  /* Assis couché pas bougé :) */
    width: 100%;
    top: 0;
    z-index: 100;
}

.white-bar, .black-bar {
    /* j'ai patouillé mais cette ligne de code influe sur les effets au survol de la souris*/
    width: 100%;
    margin-bottom: 1px;
}

.white-bar {

    background-color: white;
    height: 80px;
    text-align: center;
    margin-bottom: -20px;
    padding-top: 20px;
}

#logo {

    height: 65px;
    display: block;
    margin: 0 auto;
}

.black-bar {

    background-color: black;
    height: 43px;
    margin-top: -1px;
    padding-bottom: 5px;
}

nav {

    text-align: center;
}

nav ul {

    list-style-type: none;
    margin: 20px;
    padding: 0;
}

nav ul li {

    display: inline-block;
    margin: 12px;
}

nav ul li a {

    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: border-bottom 0.3s;
}

nav ul li a:hover {

    border-bottom: 1px solid white;
}

section.box {
/* Me demandez pas comment j'ai trouvé ça. Moi même je m'imprresionne.*/
    width: 1042px;
    height: 300px;
    margin: 20px auto 20px auto;
    text-align: center;
    overflow: hidden;
    position: relative; 
}

section.box .column {
    /* pour X raison il considère que la colone 0 va jusqque sous le texte, qqun peu voior d'ou vient le Pb?/*/

    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

section.box .text-box {
/* Pas touche sinon le txt sur l'hoverbox bouge*/
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

section.box .spacer {
    /* c'est l'espace entrre les colonnes, je comprends pas pourquoi il à unne inflience sur l'espacement horizontal*/
    width: 5px;
    display: inline-block;
}

section.box img.opaque {
    opacity: 1;
    transition: opacity 0.3s;
}

section.box .column:hover .text-box {
    opacity: 1;
}

section.box .column:hover img.opaque {
    opacity: 0.4;
}

section.box .image-text {
    font-size: 30px;
    font-weight: bold;
    background: none; 
}


footer {
/* j'arrive pas à enlever le petit point bizarre sous le footer*/
    height: 80px;
    width: 100%;
    background-color: white;
    border-inline-end-color: black; /* marche pas*/
    color: black;
    text-align: center;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-top-style: groove;
    border-bottom-style: groove;
}
